/* .App {
  text-align: center;
  background-color: #600269;
}

.App-header {
  background-color: #740E7E;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-footer{
  background-color: #740E7E;
  color: white;
  font-size: calc(10px + 2vmin);
} */

